@font-face {
  font-family: "iconfont"; /* Project id 3059967 */
  src: url('iconfont.eot?t=1645449482214'); /* IE9 */
  src: url('iconfont.eot?t=1645449482214#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff2?t=1645449482214') format('woff2'),
  url('iconfont.woff?t=1645449482214') format('woff'),
  url('iconfont.ttf?t=1645449482214') format('truetype'),
  url('iconfont.svg?t=1645449482214#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qq:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e636";
}

.icon-zishu:before {
  content: "\e617";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-qq-line:before {
  content: "\e992";
}

.icon-biaoqing:before {
  content: "\e60e";
}

.icon-notice:before {
  content: "\e61e";
}

.icon-github-line:before {
  content: "\e767";
}

.icon-gitee:before {
  content: "\e603";
}

.icon-fenlei:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e640";
  font-size: 24px;
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-hanbaobao:before {
  content: "\e604";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-pinglun:before {
  content: "\e6a3";
  color: #4ab1f4;
}
.icon-pinglun1:before {
  content: "\e891";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-qunliao:before {
  content: "\e60a";
}

.icon-zhiding:before {
  content: "\e786";
}

.icon-gengxinshijian:before {
  content: "\e705";
}

.icon-faxian:before {
  content: "\e65f";
}

.icon-taiyang:before {
  content: "\e635";
  font-size: 24px;
}

.icon-guidang:before {
  content: "\e666";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-denglu:before {
  content: "\e602";
  color: lawngreen;
}

.icon-liulan:before {
  content: "\e739";
}

.icon-biaoqian-:before {
  content: "\e641";
}

.icon-chenggong:before {
  content: "\e643";
}

.icon-ziyuanldpi:before {
  content: "\ea12";
}

.icon-qita:before {
  content: "\e6d5";
}

.icon-shezhi:before {
  content: "\e770";
  font-size: 24px;
}

.icon-fenlei1:before {
  content: "\e664";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-xiangqingye-xiangce1:before {
  content: "\e7b8";
}

.icon-yueliang:before {
  content: "\e672";
  font-size: 24px;
  position: relative;
  left: -13px;
}

.icon-wenzishuiyin-lan:before {
  content: "\e605";
}

.icon-xiangxia-2:before {
  content: "\e644";
  color: #8f8888;
}


.icon-fanhuidingbu:before {
  content: "\e6a2";
  font-size: 24px;
}

.icon-home1:before {
  content: "\e674";
  color: hotpink;
}

.icon-link:before {
  content: "\e676";
  color: #009d92;
}

.icon-layers:before {
  content: "\e675";
  color: cornflowerblue;
}

.icon-map:before {
  content: "\e677";
}

.icon-modular:before {
  content: "\e678";
  color: orangered;
}

.icon-navigation:before {
  content: "\e67a";
  color: #d98989;
}

.icon-picture:before {
  content: "\e67c";
  color: aquamarine;
}

.icon-sign-out:before {
  content: "\e67d";
}

.icon-caogaoxiang:before {
  content: "\e616";
}

